In [1]:
import pandas as pd

In [2]:
csv_file = "Cleaned_IncomeData.csv"
cleaned_income_df = pd.read_csv(csv_file, sep=",")
cleaned_income_df

,Unnamed: 0,id,State_Name,State_ab,County,City,Zip_Code,Lat,Lon,Mean,Median,Stdev,sum_w
0,0,1011000,Alabama,AL,Mobile County,Chickasaw,36611,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1,1011010,Alabama,AL,Barbour County,Louisville,36048,31.708516,-85.611039,37725,19528,43789,258.017685
2,2,1011020,Alabama,AL,Shelby County,Columbiana,35051,33.191452,-86.615618,54606,31930,57348,926.031000
3,3,1011030,Alabama,AL,Mobile County,Satsuma,36572,30.874343,-88.009442,63919,52814,47707,378.114619
4,4,1011040,Alabama,AL,Mobile County,Dauphin Island,36528,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29953,29953,7202946,Puerto Rico,PR,Adjuntas Municipio,Adjuntas,601,18.204166,-66.737830,19807,9378,21654,524.345149
29954,29954,720296,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,970,18.397925,-66.130633,30649,13729,37977,1321.278082
29955,29955,7202966,Puerto Rico,PR,Adjuntas Municipio,Aguada,602,18.385424,-67.203310,15520,9923,15541,238.813450
29956,29956,7202976,Puerto Rico,PR,Adjuntas Municipio,Aguada,602,18.356565,-67.180686,41933,34054,31539,313.551070
29957,29957,7202996,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,603,18.478094,-67.160453,28049,20229,33333,512.884803

In [3]:
cleaned_income_df = cleaned_income_df.drop_duplicates(subset=["State_Name", "City"], ignore_index=True)
cleaned_income_df

,Unnamed: 0,id,State_Name,State_ab,County,City,Zip_Code,Lat,Lon,Mean,Median,Stdev,sum_w
0,0,1011000,Alabama,AL,Mobile County,Chickasaw,36611,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1,1011010,Alabama,AL,Barbour County,Louisville,36048,31.708516,-85.611039,37725,19528,43789,258.017685
2,2,1011020,Alabama,AL,Shelby County,Columbiana,35051,33.191452,-86.615618,54606,31930,57348,926.031000
3,3,1011030,Alabama,AL,Mobile County,Satsuma,36572,30.874343,-88.009442,63919,52814,47707,378.114619
4,4,1011040,Alabama,AL,Mobile County,Dauphin Island,36528,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11164,29905,55023198,Wisconsin,WI,Adams County,Spencer,54479,44.764512,-90.208856,99758,80100,75494,214.587872
11165,29915,7202516,Puerto Rico,PR,Adjuntas Municipio,Maricao,606,18.192187,-66.980897,19194,15233,15261,558.299922
11166,29918,55022078,Wisconsin,WI,Adams County,Waunakee,53597,43.171764,-89.443595,150693,300000,61257,125.915658
11167,29922,55021338,Wisconsin,WI,Adams County,Waupaca,54981,44.281286,-89.108478,72331,64517,50215,1108.184280
11168,29950,5602264,Wyoming,WY,Albany County,Torrington,82240,42.040161,-104.089349,35297,300000,21712,229.398269

In [4]:
json_output = "Cleaned_IncomeData.json"
output = cleaned_income_df.to_json(json_output, indent = 4, orient="records")